<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Windows_Forms_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Windows_Forms_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Windows_Forms_Application.Properties.Settings>
            <setting name="MyButton" serializeAs="String">
                <value>Segoe UI Variable Text, 9pt</value>
            </setting>
        </Windows_Forms_Application.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Windows_Forms_Application.Properties.Settings>
            <setting name="Segoe" serializeAs="String">
                <value>Segoe UI Variable Text, 9pt</value>
            </setting>
            <setting name="Segoe2" serializeAs="String">
                <value>Segoe UI Variable Text, 9pt</value>
            </setting>
        </Windows_Forms_Application.Properties.Settings>
    </applicationSettings>
</configuration>
